.articuloInicio {
  min-height: 500px;
  background-image: url(../images/fondoModa.svg);
  background-size: cover;
  margin: 5px;
  border-radius: 5px;

  &__titulo {
    font-size: 50px;
    padding-top: 20px;
    text-decoration: underline;
    text-align: center;
  }

  &__imagen {
    @include sizes(550px, 400px);
    border-radius: 100px;
  }

  &__parrafo {
    @include sizes(600px, 300px);
    font-size: 25px;
    color: white;
    font-weight: 400;
    text-align: center;
    border: 5px solid $celestito;
    border-radius: 5px;
    border-style: inset;
    padding: 5px;
    text-shadow: 2px 2px 0 #49297e;
    align-self: center;
  }
  &--pelis {
    @extend .articuloInicio;
    background-color: #287e9e;
    background-image: url(../images/cineFondo.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__parrafo--pelis {
    color: $amarillo1;
    text-shadow: 2px 2px 0 #49297e;
    font-weight: 400;
    backdrop-filter: blur(10px);
  }

  &__titulo--pelis {
    color: $amarillo1;
    -webkit-text-stroke: 2px $negro;
  }

  &--musica {
    @extend .articuloInicio;
    background-color: #b06977;
    background-image: url(../images/skulls.svg);
    display: flex;
    flex-direction: column;
  }

  &__titulo--musica {
    color: $amarillo1;
    -webkit-text-stroke: 1px $negro;
  }

  &__parrafo--musica {
    @include sizes(700px, 300px);
    color: white;
    text-shadow: 2px 2px 0 #433d31;
    font-weight: 400;
    backdrop-filter: blur(10px);
    margin: 2rem;
  }

  &--juegos {
    @extend .articuloInicio;
    background-image: url(../images/gaming.svg);
    background-size: contain;
  }

  &__titulo--juegos {
    color: $amarillo1;
    -webkit-text-stroke: 1px $rositaChicle;
  }

  &__parrafo--juegos {
    @include sizes(630px, 350px);
    color: $amarillo1;
    -webkit-text-stroke: 0.5px $rositaChicle;
    font-weight: 400;
    right: 500px;
    top: 0px;
    backdrop-filter: blur(10px);
  }
}
