.footer {
  background-image: url(../images/fondoFooter.svg);
  background-size: cover;
  font-style: italic;
  height: 270px;
  display: grid;
  grid-template-columns: 0.2fr 1.5fr 1.1fr 1.4fr 0.7fr;
  grid-template-rows: 0.5fr 3.3fr 2.8fr 1.5fr 1.6fr;
  grid-template-areas:
    ". . . . ."
    "iconos . logo . ."
    ". . contacto . redes"
    ". enlaces derechos . .";
  max-width: 1903px;
  max-height: 380px;
  margin: 2px;
  border-radius: 3px;

  &__logo {
    padding-top: 1.5rem;
    grid-area: logo;
    justify-self: center;
  }

  &__imagen {
    width: 240px;
    height: 100px;
  }
}

.redes {
  right: 0px;
  grid-area: redes;
  justify-self: center;

  &__texto {
    font-size: 16px;
    text-decoration: underline;
  }

  &__fb {
    margin-left: 25px;
  }
}

.newsletter {
  font-size: 18px;
  grid-area: contacto;
}

.copyright {
  text-transform: uppercase;
  grid-area: derechos;
  justify-self: center;
  align-self: flex-end;
  margin-top: 13px;

  &__texto {
    font-weight: bold;
  }
}

.enlacesFooter {
  display: flex;
  flex-direction: row;
  list-style: none;
  grid-area: enlaces;
  justify-content: space-around;
  margin-right: 300px;
  margin-top: 10px;

  &__1 {
    font-size: 14px;
    text-decoration: underline;
  }

  &__2 {
    font-size: 14px;
    text-decoration: underline;
  }

  &__3 {
    font-size: 14px;
    text-decoration: underline;
  }
}

.enlacesIconos {
  padding-top: 5px;
  grid-area: iconos;
  justify-self: center;
}

.listaIconos {
  width: 35px;

  &__moda {
    list-style: none;
    background-color: $amarillo1;
    border: 2px solid $rositaChicle;
    border-radius: 10px;
    width: 100%;
    margin: 2px;
    margin-bottom: 10px;
  }

  &__musica {
    list-style: none;
    background-color: $amarillo1;
    border: 2px solid $rositaChicle;
    border-radius: 10px;
    width: 100%;
    margin: 2px;
    margin-bottom: 10px;
  }

  &__peliculas {
    list-style: none;
    background-color: $amarillo1;
    border: 2px solid $rositaChicle;
    border-radius: 10px;
    width: 100%;
    margin: 2px;
    margin-bottom: 10px;
  }

  &__videojuegos {
    list-style: none;
    background-color: $amarillo1;
    border: 2px solid $rositaChicle;
    border-radius: 10px;
    width: 100%;
    margin: 2px;
  }
}
