.header {
  background-image: url(../images/90s-Design-Trends.png);
  max-height: 100px;
  min-width: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 200px;
    height: 80px;
  }

  &__menu {
    display: none;
  }
}

.nav {
  font-size: 30px;

  &__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    margin-right: 280px;
    font-size: 24px;
  }

  &__item {
    margin-left: 150px;
  }

  &__enlace {
    text-decoration: none;
    color: #d1439e;
    -webkit-text-stroke: 1px black;
  }

  &__item--close {
    display: none;
  }
}
