@media screen and (max-width: 600px) {
  body {
    min-width: 320px;
    min-height: 500px;
  }

  .aC {
    font-size: 20px;
  }

  .nav {
    display: none;

    &__lista {
      flex-direction: column;
      align-items: center;
      font-size: 20px;
      font-weight: 100;
    }

    &__item--close {
      display: block;
    }
  }

  .header {
    flex-direction: row;
    min-width: 318px;

    &__logo {
      width: 100px;
      height: 40px;
      margin: 1rem;
    }

    &__menu {
      display: block;
      text-decoration: none;
      font-size: 32px;
      color: $negro;
    }
  }

  a:visited {
    color: $negro;
  }

  #lateral {
    display: block;
    background-color: rgba(0, 219, 150, 0.8);
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: 1.5s;
  }

  #lateral:target {
    left: 0;
  }

  .seccion1 {
    height: 350px;
    margin: 2px;
    border-radius: 3px;
    min-width: 318px;
    overflow: hidden;

    &__titulo {
      font-size: 28px;
    }

    &__parrafo {
      font-size: 14px;
      margin-bottom: 0;
      -webkit-text-stroke: 0.5px $negro;
    }

    &__subtitulo {
      font-size: 18px;
      -webkit-text-stroke: 0.5px $negro;
      margin-top: 80px;
    }

    &__parrafo2 {
      font-size: 12px;
      width: 190px;
      align-self: flex-start;
      border: 1px solid $rositaChicle;
      margin-left: 5px;
      text-align: justify;
      padding: 5px;
    }

    &__imagen {
      width: 120px;
      height: 140px;
      top: 175px;
      left: 200px;
    }
  }

  .banner {
    height: 50px;
    min-width: 320px;
  }

  .seccion2 {
    min-width: 318px;
    margin: 2px;
    border-radius: 3px;

    &__titulo {
      font-size: 23px;
      padding-top: 20px;
    }

    &__parrafo {
      font-size: 12px;
      width: 280px;
      -webkit-text-stroke: 0.5px $negro;
      text-align: justify;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
    }

    &__imagen {
      width: 150px;
      height: 90px;
    }
  }

  .boxImages {
    display: flex;
    flex-flow: column wrap;
    min-width: 320px;
    height: 180px;
    margin-top: 60px;
    align-content: space-around;
  }

  .footer {
    min-width: 318px;
    height: 200px;
    margin: 2px;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas:
      "ele1 ele2 ."
      "ele1 ele3 ele4"
      "ele5 . ele6";

    &__logo {
      width: 85px;
      height: 40px;
      padding-top: 2px;
      grid-area: ele2;
    }

    &__imagen {
      width: 100%;
      height: 100%;
    }
  }

  .row {
    margin-top: 10px;
  }

  .enlacesIconos {
    grid-area: ele1;
    justify-self: flex-start;
  }

  .listaIconos {
    width: 20px;
    height: 20px;

    &__moda {
      width: 100%;
      height: 100%;
      border: 1px solid $rositaChicle;
    }

    &__musica {
      width: 100%;
      height: 100%;
      border: 1px solid $rositaChicle;
    }
    &__peliculas {
      width: 100%;
      height: 100%;
      border: 1px solid $rositaChicle;
    }

    &__videojuegos {
      width: 100%;
      height: 100%;
      border: 1px solid $rositaChicle;
    }
  }

  .icono__moda {
    width: 15px;
    height: 15px;
    margin-left: 1px;
    margin-bottom: 3px;
  }

  .icono__musica {
    width: 14px;
    height: 15px;
    margin-left: 2px;
    padding-bottom: 3px;
  }

  .icono__peliculas {
    width: 15px;
    height: 15px;
    margin-left: 1px;
    margin-bottom: 3px;
  }

  .icono__videojuegos {
    width: 13px;
    height: 13px;
    margin-left: 2px;
    margin-bottom: 4px;
  }

  .newsletter {
    font-size: 10px;
    width: 100px;
    height: 50px;
    grid-area: ele3;
  }

  input {
    width: 150px;
    height: 15px;
    padding: 0px;
    margin-bottom: 0px;
  }

  button {
    width: 50px;
    height: 35px;
  }

  .enlacesFooter {
    height: 6px;
    width: 100px;
    grid-area: ele5;
    align-self: flex-end;
    margin-bottom: 5px;

    &__1 {
      font-size: 5px;
      height: 6px;
    }

    &__2 {
      font-size: 5px;
      height: 6px;
    }

    &__3 {
      font-size: 5px;
      width: 55px;
      height: 6px;
    }
  }

  .copyright {
    height: 10px;
    grid-area: ele6;
    margin-right: 70px;
    width: 145px;

    &__texto {
      font-size: 4px;
    }
  }

  .redes {
    width: 20px;
    grid-area: ele4;
    justify-self: end;
    margin-right: 5px;

    &__texto {
      display: none;
    }
    &__fb {
      margin-left: 0px;
      width: 20px;
    }

    &__instagram {
      width: 20px;
      height: 20px;
    }

    &__twitter {
      width: 25px;
      height: 20px;
    }

    &__youtube {
      width: 25px;
      height: 20px;
    }
  }

  .articuloInicio {
    margin: 2px;
    border-radius: 3px;

    &__titulo {
      font-size: 35px;
      -webkit-text-stroke: 1px $negro;
    }

    &__titulo--pelis {
      -webkit-text-stroke: 1px $negro;
    }

    &__imagen {
      width: 70%;
      height: 70%;
      margin: 0px;
      margin-left: 50px;
      padding-top: 10px;
      border-radius: 20px;
    }

    &__parrafo {
      font-size: 15px;
      right: 10px;
      width: 100%;
      height: max-content;
    }

    &--juegos {
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__titulo--juegos {
      font-size: 30px;
      -webkit-text-stroke: 1px $rositaChicle;
    }

    &__imagen {
      height: 160px;
    }

    &__parrafo--juegos {
      font-size: 13px;
      width: 300px;
      text-shadow: 1px 1px 0 #49297e;
    }

    &--musica {
      background-size: contain;
    }
  }

  .articuloPrincipal {
    margin: 2px;
    border-radius: 3px;
    min-height: 600px;

    &__titulo {
      font-size: 22px;
      padding-top: 20px;
      text-shadow: 2px 2px 0 whitesmoke;
      padding-left: 0;
      margin-left: 5px;
      color: $naranja;
    }

    &__titulo--moda {
      color: $amarillo1;
      text-shadow: 1px 2px 0 $rositaChicle;
      -webkit-text-stroke: 0px;
    }

    &__subtitulo {
      font-size: 15px;
    }

    &__subtitulo--peli {
      text-shadow: 1px 1px 0 $rositaChicle;
    }

    &__img {
      width: 250px;
      height: 180px;
      margin-left: 0;
    }

    &__parrafo {
      width: 300px;
      margin-left: 5px;
      margin-top: 5px;
      font-size: 12px;
      -webkit-text-stroke: 0.4px $negro;
      text-shadow: -1px 0px 0 $amarillo1;
      text-align: justify;
      box-shadow: -4px 6px 4px -1px RGB(0 0 0 / 75%);
    }

    &__parrafo--moda {
      text-shadow: -1px 0px 0 $rositaChicle;
    }

    &__parrafo--peli {
      box-shadow: -4px 6px 4px -1px RGB(0 0 0 / 75%);
      text-shadow: -1px 0px 0 $rositaChicle;
    }

    &__img--2 {
      width: 140px;
    }

    &__img--6 {
      width: 140px;
      margin-top: 0;
    }

    &__img--10 {
      width: 190px;
    }

    &__iframe {
      margin-top: 30px;
      width: 300px;
      margin-left: -10px;
      border-radius: 12px;
    }

    &__img--musica {
      width: 190px;
      height: 190px;
    }

    &__titulo--juegos {
      font-size: 25px;
      text-shadow: 2px 2px 0 $naranja;
    }

    &__parrafo--juegos {
      font-size: 14px;
      text-shadow: 1px 1px 0 $naranja;
      margin-right: 10px;
      box-shadow: none;
    }

    &--musica {
      min-height: 600px;
    }

    &__subtitulo--musica {
      color: $fucsia;
      text-shadow: 1px 1px 0 $negro;
    }

    &__titulo--musica {
      text-shadow: 2px 2px 0 $negro;
      padding-top: 20px;
      color: $fucsia;
      text-shadow: 1px 1px 0 $negro;
    }

    &--peli {
      min-height: 600px;
      margin: 2px;
    }
  }

  .flexModa {
    flex-direction: column;
    height: 350px;
  }

  .seccionContacto {
    align-items: flex-start;
  }

  .formularioContacto {
    width: 300px;
    font-size: 1rem;
    margin-top: 6rem;
  }

  .input {
    width: 200px;
    height: 2rem;

    &--footer {
      width: 160px;
      height: 20px;
      margin-bottom: 9px;
    }
  }

  section input {
    width: 12px;
    height: 12px;
    margin-left: 10px;
    margin-top: 3px;
  }

  .textarea {
    width: 200px;
  }

  .boton {
    margin-left: auto;
    margin-right: auto;
    height: 22px;
    width: 100px;
    box-shadow: inset 0px 1px 0px 0px #fbafe3;
    background-color: #ff5bb0;
    border-radius: 6px;
    border: 1px solid #ee1eb5;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 10px;
    padding: 6px 24px;
    text-shadow: 0px 1px 0px #c70067;
  }

  .articuloJuegos {
    margin: 0px;

    &__subtitulo {
      font-size: 15px;
    }

    &__parrafo {
      font-size: 12px;
      width: 280px;
      box-shadow: -1px 2px 2px 2px RGB(0 0 0 / 75%);
      text-align: justify;
      text-shadow: 1px 1px 0 #e34121;
    }
  }

  .flexImg__1 {
    width: 155px;
    height: 120px;
    border: 3px ridge #6a1d5b;
    margin: 0;
  }

  .flexImg__2 {
    width: 155px;
    height: 120px;
    border: 3px ridge #6a1d5b;
  }

  .flexInicio {
    flex-direction: column;
  }

  .accordion {
    margin: 2px 2px;
    padding-bottom: 20px;
  }
}
