@media screen and (max-width: 600px) {
  body {
    min-width: 320px;
    min-height: 500px;
  }

  .aC {
    font-size: 20px;
  }

  .nav {
    display: none;
  }

  .header {
    flex-direction: row;
    min-width: 318px;
  }

  .header__logo {
    width: 100px;
    height: 40px;
    margin: 1rem;
  }

  .header__menu {
    display: block;
    text-decoration: none;
    font-size: 32px;
    color: black;
  }

  a:visited {
    color: black;
  }

  #lateral {
    display: block;
    background-color: rgba(0, 219, 150, 0.8);
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: 1.5s;
  }

  #lateral:target {
    left: 0;
  }

  .nav__lista {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 100;
  }

  .nav__item--close {
    display: block;
  }

  .seccion1 {
    height: 350px;
    margin: 2px;
    border-radius: 3px;
    min-width: 318px;
    overflow: hidden;
  }

  .seccion1__titulo {
    font-size: 28px;
  }

  .seccion1__parrafo {
    font-size: 14px;
    margin-bottom: 0;
    -webkit-text-stroke: 0.5px black;
  }

  .seccion1__subtitulo {
    font-size: 18px;
    -webkit-text-stroke: 0.5px black;
    margin-top: 80px;
  }

  .seccion1__parrafo2 {
    font-size: 12px;
    width: 190px;
    align-self: flex-start;
    border: 1px solid #e10086;
    margin-left: 5px;
    text-align: justify;
    padding: 5px;
  }

  .seccion1__imagen {
    width: 120px;
    height: 140px;
    top: 175px;
    left: 200px;
  }

  .banner {
    height: 50px;
    min-width: 320px;
  }

  .seccion2 {
    min-width: 318px;
    margin: 2px;
    border-radius: 3px;
  }

  .seccion2__titulo {
    font-size: 23px;
    padding-top: 20px;
  }

  .seccion2__parrafo {
    font-size: 12px;
    min-width: 280px;
    -webkit-text-stroke: 0.5px black;
    text-align: justify;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .boxImages {
    display: flex;
    flex-flow: column wrap;
    min-width: 320px;
    height: 180px;
    margin-top: 60px;
    align-content: space-around;
  }

  .seccion2__imagen {
    width: 150px;
    height: 90px;
  }

  .footer {
    min-width: 318px;
    height: 200px;
    margin: 2px;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas:
      "ele1 ele2 ."
      "ele1 ele3 ele4"
      "ele5 . ele6";
  }

  .row {
    margin-top: 10px;
  }

  .enlacesIconos {
    grid-area: ele1;
    justify-self: flex-start;
  }

  .listaIconos {
    width: 20px;
    height: 20px;
  }

  .listaIconos__moda {
    width: 100%;
    height: 100%;
    border: 1px solid #e10086;
  }

  .icono__moda {
    width: 15px;
    height: 15px;
    margin-left: 1px;
  }

  .listaIconos__musica {
    width: 100%;
    height: 100%;
    border: 1px solid #e10086;
  }

  .icono__musica {
    width: 15px;
    height: 15px;
    margin-left: 1px;
  }

  .listaIconos__peliculas {
    width: 100%;
    height: 100%;
    border: 1px solid #e10086;
  }

  .icono__peliculas {
    width: 15px;
    height: 15px;
    margin-left: 1px;
  }

  .listaIconos__videojuegos {
    width: 100%;
    height: 100%;
    border: 1px solid #e10086;
  }

  .icono__videojuegos {
    width: 15px;
    height: 15px;
    margin-left: 1px;
  }

  .footer__logo {
    width: 85px;
    height: 40px;
    padding-top: 2px;
    grid-area: ele2;
  }

  .footer__imagen {
    width: 100%;
    height: 100%;
  }

  .newsletter {
    font-size: 10px;
    width: 100px;
    height: 50px;
    grid-area: ele3;
  }

  input {
    width: 150px;
    height: 15px;
    padding: 0px;
    margin-bottom: 0px;
  }

  button {
    width: 50px;
    height: 35px;
  }

  .enlacesFooter {
    height: 6px;
    width: 100px;
    grid-area: ele5;
    align-self: flex-end;
    margin-bottom: 5px;
  }

  .enlacesFooter__1 {
    font-size: 5px;
    height: 6px;
  }

  .enlacesFooter__2 {
    font-size: 5px;
    height: 6px;
  }

  .enlacesFooter__3 {
    font-size: 5px;
    width: 55px;
    height: 6px;
  }

  .copyright {
    height: 10px;
    grid-area: ele6;
    margin-right: 60px;
    width: 133px;
  }

  .copyright__texto {
    font-size: 4px;
  }

  .redes {
    width: 20px;
    grid-area: ele4;
    justify-self: end;
    margin-right: 5px;
  }

  .redes__texto {
    display: none;
  }

  .redes__fb {
    margin-left: 0px;
    width: 20px;
  }

  .redes__instagram {
    width: 20px;
    height: 20px;
  }

  .redes__twitter {
    width: 25px;
    height: 20px;
  }

  .redes__youtube {
    width: 25px;
    height: 20px;
  }

  .articuloInicio {
    margin: 2px;
    border-radius: 3px;
    min-width: 318px;
  }

  .articuloInicio__titulo {
    font-size: 35px;
    text-shadow: 1px 1px 0 #d44ab8;
  }

  .articuloInicio__imagen {
    width: 70%;
    height: 70%;
    margin: 0px;
    margin-left: 50px;
    padding-top: 10px;
    border-radius: 20px;
  }

  .articuloInicio_parrafo {
    font-size: 15px;
    right: 10px;
    width: 100%;
    height: max-content;
  }

  .articuloPrincipal {
    margin: 2px;
    border-radius: 3px;
    min-width: 318px;
    min-height: 600px;
  }

  .articuloPrincipal__titulo {
    font-size: 20px;
    padding-top: 20px;
  }

  .articuloPrincipal__subtitulo {
    font-size: 15px;
  }

  .flexModa {
    flex-direction: column;
    height: 350px;
  }

  .articuloPrincipal__img {
    width: 250px;
    height: 180px;
    margin-left: 0;
  }

  .articuloPrincipal__parrafo {
    width: 300px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 12.5px;
    -webkit-text-stroke: 0.4px black;
    text-shadow: 1px 1px 0 #e10086;
  }

  .articuloPrincipal__img--2 {
    width: 140px;
  }

  .articuloPrincipal__img--6 {
    width: 140px;
    margin-top: 0;
  }

  .articuloPrincipal__img--10 {
    width: 190px;
  }

  .articuloInicio--musica {
    background-size: contain;
  }

  .articuloPrincipal__iframe {
    width: 300px;
    margin-left: -10px;
    border-radius: 12px;
  }

  .articuloPrincipal__img--musica {
    width: 190px;
    height: 190px;
  }

  .seccionContacto {
    align-items: flex-start;
  }

  .formularioContacto {
    min-width: 300px;
    font-size: 1rem;
    margin-top: 6rem;
  }

  .input {
    width: 200px;
    height: 2rem;
  }

  .input--footer {
    width: 160px;
    height: 20px;
    margin-bottom: 9px;
  }

  section input {
    width: 12px;
    height: 12px;
    margin-left: 10px;
    margin-top: 3px;
  }

  .textarea {
    width: 200px;
  }

  .boton {
    margin-left: auto;
    margin-right: auto;
    height: 22px;
    width: 100px;
    box-shadow: inset 0px 1px 0px 0px #fbafe3;
    background-color: #ff5bb0;
    border-radius: 6px;
    border: 1px solid #ee1eb5;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 10px;
    padding: 6px 24px;
    text-shadow: 0px 1px 0px #c70067;
  }

  .articuloInicio--juegos {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .articuloInicio__titulo--juegos {
    font-size: 30px;
  }

  .articuloInicio__imagen {
    height: 160px;
  }

  .articuloInicio__parrafo--juegos {
    font-size: 12px;
    width: 300px;
    margin-right: 8px;
  }

  .articuloPrincipal__titulo--juegos {
    font-size: 20px;
  }

  .articuloPrincipal__parrafo--juegos {
    margin-left: 5px;
    font-size: 14px;
    min-width: 300px;
  }

  .articuloJuegos {
    margin: 0px;
  }

  .articuloJuegos__subtitulo {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .flexImg__1 {
    width: 155px;
    height: 120px;
    border: 3px ridge #6a1d5b;
    margin: 0;
  }

  .flexImg__2 {
    width: 155px;
    height: 120px;
    border: 3px ridge #6a1d5b;
  }

  .articuloJuegos__parrafo {
    font-size: 12px;
    margin: 0;
    width: 300px;
    box-shadow: -2px 5px 5px 5px rgb(0 0 0 / 75%);
    margin-left: -3px;
    text-align: justify;
  }

  .flexInicio {
    flex-direction: column;
  }

  .articuloPrincipal--musica {
    min-height: 600px;
  }

  .articuloPrincipal__subtitulo--musica {
    color: #f18d9a;
    text-shadow: 2px 2px 0 black;
  }

  .accordion {
    margin: 2px 2px;
  }

  .articuloPrincipal__titulo--musica {
    text-shadow: 2px 2px 0 black;
    padding-top: 20px;
  }

  .articuloPrincipal--peli {
    min-height: 600px;
  }
}
