.seccion1 {
  background-image: url(../images/fondo1.svg);
  background-size: auto;
  font-style: italic;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 5px;

  &__titulo {
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    padding: 16px 1px 1px;
    color: $amarillo1;
    -webkit-text-stroke: 1px $negro;
  }

  &__parrafo {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10rem;
    color: #f5a01f;
    -webkit-text-stroke: 1px $negro;
  }

  &__imagen {
    width: 500px;
    height: 550px;
  }

  &__subtitulo {
    font-size: 40px;
    text-align: center;
    color: #673b90;
    -webkit-text-stroke: 1px $negro;
    margin-top: 100px;
  }
  &__parrafo2 {
    color: #49297e;
    font-size: 30px;
    width: 600px;
    font-weight: 300;
    border: 5px solid $rositaChicle;
    border-radius: 5px;
    border-style: inset;
    align-self: center;
    backdrop-filter: blur(10px);
  }
}
