.seccion2 {
  background-image: url(../images/fondo90.svg);
  background-size: contain;
  font-style: italic;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &__titulo {
    font-size: 35px;
    text-align: left;
    padding-top: 5rem;
    text-decoration: underline;
    margin-left: 2rem;
    color: #3d6bbc;
    -webkit-text-stroke: 1px black;
    align-self: center;
  }

  &__parrafo {
    font-size: 25px;
    color: #90dcff;
    margin-left: 2rem;
    margin-top: 2rem;
    text-align: start;
    min-height: 100px;
    -webkit-text-stroke: 0.7px black;
  }
  &__imagen {
    width: 474px;
    height: 266px;
  }
}
