.seccion2 {
  background-image: url(../images/fondo90.svg);
  background-size: contain;
  font-style: italic;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &__titulo {
    font-size: 35px;
    text-align: left;
    padding-top: 5rem;
    text-decoration: underline;
    margin-left: 2rem;
    color: #3d6bbc;
    -webkit-text-stroke: 1px $negro;
    align-self: center;
  }

  &__parrafo {
    width: 1400px;
    font-size: 25px;
    font-weight: 400;
    color: $negro;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    -webkit-text-stroke: 0.2px $celestito;
    text-align: justify;
    margin-bottom: 2rem;
  }
  &__imagen {
    width: 474px;
    height: 266px;
  }
}
